In [ ]:
#1a
counter= 24
while counter>=-6:
  if counter==-6:
    print(counter,end="")
  else:
    print(counter,end=", ")
  counter+=(-6)

24, 18, 12, 6, 0, -6

In [ ]:
#1a
for i in range (24,-7,-6):
  if i == -6 :
    print(i,end="") 
  else:
    print(i,end=", ")

24, 18, 12, 6, 0, -6

In [ ]:
w=input()
r=""
for i in w:
  if (ord(i)>=65 and ord(i)<=90) or (97<=ord(i)<=122):
    r=r+i
print(r[ : :-1],end="")

876e879yB
Bye

In [ ]:
for i in range(24,-7,-6):
  if i==-6:
    print(i,end="")
  else:
    print(i,end=", ")

24, 18, 12, 6, 0, -6

In [ ]:
count=-10
while count<=20:
  if count==20:
    print(count,end="")
  else:
    print(count,end=", ")
  count+=5

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#1b
counter =-10
while counter<=20:
  if counter==20:
    print(counter,end="")
  else:
    print(counter,end=", ")
  counter+=5

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#1c
counter =18
while counter<=63:
  if counter==63:
    print(counter,end="")
  else:
    print(counter, end=",")
  counter+=9

18,27,36,45,54,63

In [ ]:
#1d
for i in range (18,64,9):
  if i%2==0:
    print(i,end=", ")
  elif i==63:
    print(i*(-1),end="")
  else:
    print(i*(-1),end=", ")

18, -27, 36, -45, 54, -63

In [ ]:
#2
name=input("Enter a car name: ")
num=int(input("Enter a number: "))
for i in range(0,num):
  print(name)

Enter a car name: nissan
Enter a number: 2
nissan
nissan

In [ ]:
#3
sum=0
for i in range (1,601):
  if i%7==0 and i%9==0:
     sum+=i
print(sum)

2835

In [ ]:
#5 
for i in range (10,51):
  if i%2!=0:
    print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
n=int(input("enter a number: "))
sum=0
for i in range (1,n+1):
  if i%2!=0:
    sum+=i**2
  else:
    sum-=i**2
print(sum)

enter a number: 5
15

In [ ]:
for i in range (18,64,9):
  if i%2==0:
    print(i,end=", ")
  elif i==63:
    print(i*(-1),end="")
  else:
    print(i*(-1),end=", ")

18, -27, 36, -45, 54, -63

In [ ]:
#1d
for i in range(18,64,9):
  if i%2==0:
    print(i,end=",")
  elif i==63:
    print(i*(-1),end="")
  else:
    print(i*(-1),end=",")

18,-27,36,-45,54,-63

In [ ]:
#2
car = str(input("enter the name of your favorite car: "))
num = int(input("enter a number: "))
count= 1
while (count<=num):
  print(car)
  count+=1

enter the name of your favorite car: Toyota
enter a number: 2
Toyota
Toyota

In [ ]:
car=input()
num= int(input())
for i in range (1,num+1,1):
  print(car)

Toyota
5
Toyota
Toyota
Toyota
Toyota
Toyota

In [ ]:
#3
sum=0
for i in range (63,601,1):
    if (i%7==0) and (i%9==0):
      sum=sum+i
print(sum)

2835

In [ ]:
sum=0
for i in range (0,601,1):
  if (i%7==0 and i%9!=0) or (i%9==0 and i%7!=0):
    sum+=i
print(sum)

39814

In [ ]:
#4
sum=0
for i in range (1,601,1):
  if (i%7==0 and i%9!=0) or (i%9==0 and i%7!=0):
    sum=sum+i
print(sum)

39814

In [ ]:
#5
number=10
while number<=50:
  if (number%2)!=0:
    print(number, end=" ")
  number+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
for i in range (11,50,1):
  if i%2!=0:
    print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#6
number= int(input("enter number: "))
sum=0
for i in range (1,number+1,1):
  if (i%2!=0):
    sum=sum+(i**2)
  elif(i%2==0):
    sum=sum-(i**2)
print(sum)

enter number: 20
-210

In [ ]:
y=int(input())
sum=0
for i in range (1,y+1,1):
  if i%2==0:
    sum-=(i**2)
  else:
    sum+=(i**2)
print(sum)

20
-210

In [ ]:
#7
sum=0
step=0
for i in range (10):
  number=int(input("enter number: "))
  if (number%2!=0):
    sum=sum+number
    step=step+1
print("The total of odd numberis",sum,"and their average is",float(sum/step))

enter number: -20
enter number: 13
enter number: -5
enter number: 40
enter number: -17
enter number: 10
enter number: 20
enter number: -8
enter number: 99
enter number: -200
The total of odd numberis 90 and their average is 22.5

In [ ]:
sum=0
step=0
for i in range (10):
  numbers=int(input("enter numbers: "))
  if numbers%2!=0:
    sum+=numbers
    step+=1

print(sum, "average:",float(sum/step))

enter numbers: 1
enter numbers: 2
enter numbers: 3
enter numbers: 4
enter numbers: 5
enter numbers: 6
enter numbers: 7
enter numbers: 8
enter numbers: 9
enter numbers: 10
25 average: 5.0

In [ ]:
#8
sum=0
N = int(input("enter number: "))
for i in range (1,N+1,1):
  if i%7==0:
    sum=sum+i
print(sum)

enter number: 75
385

In [ ]:
n=int(input())
sum=0
for i in range (1,n+1,1):
  if i%7==0:
    sum+=i
print(sum)

50
196

In [ ]:
#9
sum=0
for i in range (5):
  number= int(input("enter number: "))
  sum+=number
  print(sum)

enter number: 1
1
enter number: 2
3
enter number: 3
6
enter number: 4
10
enter number: 5
15

In [ ]:
sum=0
for i in range(5):
  num=int(input("enter numbers: "))
  sum+=num
  print(sum)

enter numbers: 1
1
enter numbers: 2
3
enter numbers: 3
6
enter numbers: 4
10
enter numbers: 5
15

In [ ]:
#10
number= int(input("enter the number: "))
while number>=1:
  print(number%10, end="")
  number= number//10
  if number!=0:
    print(end=", ")
  else:
    print(end="")

enter the number: 32768
8, 6, 7, 2, 3

In [ ]:
number = int(input())
while number>0:
  print(number%10,end="")
  number=number//10
  if number!=0:
    print(end=", ")
  else:
    print(end="")

32768
8, 6, 7, 2, 3

In [ ]:
count=0
num= int(input("enter a number: "))
while num>=1:
  count+=1
  num=num//10
print(count)

enter a number: 4355
4

In [ ]:
num=int(input())
count=1
while count<=num:
  count+=1
  num=num//10
print(count)

123
3

In [ ]:
#11
count=0
number= int(input("enter number: "))
while number>=1:
  count+=1
  number=number//10
print(count)

enter number: 3232
4

In [ ]:
count=0
num=int(input())
num1=num
var1=0
while num>=1:
  count+=1
  num=num//10
s=10**(count-1)
while num1>=1:
  var1=num1//s
  num1=num1%s
  s=s//10
  if num1==0:
    print(var1,end="")
  else:
    print(var1,end=", ")

4325
4, 3, 2, 5

In [ ]:
num=int(input())
count=0
for i in range(1,num+1):
  if num%i==0:
    count+=1
    print(i)
print(count)

121
1
11
121
3

In [ ]:
num=int(input())
sum=0
for i in range(1,num+1,1):
  if num%i==0 and num!=i:
     sum=sum+i
if sum==num:
  print(num, "is a perfect number.")
else:
  print(num,"is not a perfect number.")

33
33 is not a perfect number.

In [ ]:
num=int(input())
sum=0
for i in range(1,num,1):
  if num%i==0:
     sum=sum+i
if sum==num:
  print(num, "is a perfect number.")
else:
  print(num,"is not a perfect number.")

6
6 is a perfect number.

In [ ]:
num=int(input())
count=0
for i in range (1,num+1):
  if num%i==0:
    count+=1
if count==2:
  print(num,"is a prime number.")
else:
  print(num,"is not a prime number.")

6
6 is not a prime number.

In [ ]:
#12
count=0
number= int(input("enter number: "))
num=number
var1=0
while number!=0:
  count+=1
  number=number//10
s=10**(count-1)
while num!=0:
    var1=num//s
    num=num%s
    s=s//10
    if num!=0:
      print(var1,end=",")
    else:
      print(var1,end="")

enter number: 32768
3,2,7,6,8

In [ ]:
#13
number=int(input("enter number: "))
count=0
for i in range(1,number+1):
  if (number%i)==0:
    count+=1
    print(i)
print("Total",count,"divisors")

enter number: 121
1
11
121
Total 3 divisors

In [ ]:
#14
number = int(input("enter number: "))
sum=0
for i in range (1, number+1,1):
  if (number%i==0) and (number!=i):
    sum=sum+i
if sum==number:
  print(number,"is a perfect number.")
else: 
  print(number,"is not a perfect number.")

enter number: 33
33 is not a perfect number.

In [ ]:
quantity=int(input("enter the quantity of numbers: "))
max=quantity
min=quantity
sum=0
for i in range(quantity):
  num=int(input("enter numbers: "))
  sum+=num
  if num>=max:
    max=num
  elif num<=min:
    min=num
print("Maximum",max)
print("Minimum",min)
print("Average",float(sum/quantity))

enter the quantity of numbers: 5
enter numbers: 10
enter numbers: 4
enter numbers: -1
enter numbers: -100
enter numbers: 1
Maximum 10
Minimum -100
Average -17.2

In [ ]:
n=int(input())
for i in range(1,n+1,1):
  for j in range (1,n+1,1):
    print("+",end="")
  print()

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
n=int(input())
m=int(input())
for i in range(1,n+1,1):
  for j in range (1,m+1,1):
    print(j,end="")
  print()

4
6
123456
123456
123456
123456

In [ ]:
n=int(input())
for i in range (1,n+1,1):
  for j in range (1,i+1,1):
    print("*",end="")
  print()

4
*
**
***
****

In [ ]:
#classwork
hght=int(input())
for i in range (1,hght+1,1):
  for space in range (1,hght-i+1,1):
    print(" ",end="")
  for j in range(1,i+1,1):
    print("*",end="")
  print()

5
    *
   **
  ***
 ****
*****

In [ ]:
hght=int(input())
for i in range (1,hght+1,1):
  for space in range (1,hght-i+1,1):
    print(" ",end="''")
  for j in range(1,i,2):
    print(j,end="")
  print()

4
 '' '' ''
 '' ''1
 ''1
13

In [ ]:
#15
number=int(input("enter number: "))
count=0
for i in range(1,number+1):
  if (number%i)==0:
    count+=1
if count==2:
      print(number,"is a prime number.")
else:
      print(number,"is not a prime number.")

enter number: 11
11 is a prime number.

In [ ]:
#16
quantity=int(input("enter number: "))
max=quantity
min=quantity
sum=0
for i in range(quantity):
  number=int(input("enter number: "))
  sum+=number
  if number>max:
    max=number
  elif number<min:
    min=number
print("Maximum",max)
print("Minimum",min)
print("Average is",float(sum/quantity))

enter number: 4
enter number: 8
enter number: 34
enter number: 5
enter number: 45
Maximum 45
Minimum 4
Average is 23.0

In [ ]:
#17
N=int(input("Enter number: "))
for i in range (1,N+1,1):
  for j in range (1,N+1,1):
    print("+",end="")
  print()

Enter number: 5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#18
m = int(input())
n = int(input())
for i in range (1,m+1,1):
  for j in range (1,n+1,1):
    print(j,end="")
  print( )

4
6
123456
123456
123456
123456

In [ ]:
number=int(input("enter number: "))
for row in range(1,number+1,1):     #19
  for column in range (1,row+1,1):
    print(column,end="")
  print()

enter number: 4
1
12
123
1234

In [ ]:
number=int(input("enter number: "))
for row in range(1,number+1,1):     #19
  for column in range (1,row+1,1):
    print("1",end="")
  print(" ",end="" )

enter number: 4
1 11 111 1111

In [ ]:
#20
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
#21
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
#22
x = y = 0 
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2 
    print(sum)
    y = y + 1
  if (x > 7): 
    x += 1
  else: 
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
#23
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
#24
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10

40
45
50
55
60
65
70
75
80
85