In [ ]:

numbers1=input("enter numbers separated by coma: ")
numbers2=input("enter numbers separated by coma: ")
list1=numbers1.split(",")
list2=numbers2.split(",")
for i in range (len(list1)):
  list1[i]=int(list1[i])
list1.pop()
for j in range (len(list2)):
  list2[j]=int(list2[j])
print(list1+list2)

enter numbers separated by coma: 1, 3, 5, 7, 9, 10
enter numbers separated by coma: 2, 4, 6, 8
[1, 3, 5, 7, 9]
[2, 4, 6, 8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
dict1={(2,3,2):"a",(1,2,3):"b",(3,3,3):"c"}
sum=0
dict2={}
for k,v in dict1.items():
  for i in k:
    sum+=i
  dict2[sum]=v
  sum=0
print(dict2)

{7: 'a', 6: 'b', 9: 'c'}

In [ ]:
def fn(num):
  str1=""
  for i in range (len(num)):
    num[i]=str(num[i])
    str1+=num[i]
  return str1
print(fn(["hi",1,"3",True,9.5]))

hi13True9.5

In [ ]:
number=input()
new=(number[1:-1]).split(",")
print(new)
list1=[]
for i in range (len(new)):
  new[i]=int(new[i])
  #list1.append(new)
print(new)

[1,2,3]
['1', '2', '3']
[1, 2, 3]

In [ ]:

list2=[]
list1=input("enter items separated by coma: ")
list=list1.split(",")
for i in (list):
  if i=="":
    list.remove("")
print(list)

enter items separated by coma: hey,there,,what's,,up,,?
['hey', 'there', "what's", 'up', '?']

In [ ]:

numbers=int(input("enter the len of your list: "))
list=[]
for i in range (numbers):
   numbers=int(input("Enter numbers: "))
   list.append(numbers)
list1=[]
for j in list:
  j=j**2
  list1.append(j)
print(list1)

enter the len of your list: 7
Enter numbers: 1
Enter numbers: 2
Enter numbers: 3
Enter numbers: 4
Enter numbers: 5
Enter numbers: 6
Enter numbers: 7
[1, 4, 9, 16, 25, 36, 49]

In [ ]:

numbers=(input("Enter numbers separated by coma: "))
list=numbers.split(",")
for i in range (len(list)):
  list[i]=int(list[i])
list1=[]
for j in list:
  j=j**2
  list1.append(j)
print(list1)

Enter numbers separated by coma: 1,2,3,4,5,6,7
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#1
numbers_list=[]
for i in range (0,5):
  numbers=int(input("enter numbers: "))
  numbers_list.append(numbers)
  print("Numbers in the list:",numbers_list)

enter numbers: 3
[3]
enter numbers: 5
[3, 5]
enter numbers: 34
[3, 5, 34]
enter numbers: -11
[3, 5, 34, -11]
enter numbers: 0
[3, 5, 34, -11, 0]

In [ ]:
#2
numbers=input("enter the list: ")
num=numbers[1:-1]
new_list=num.split(",")
for i in range (len(new_list)):
  new_list[i]=int(new_list[i])
if len(new_list)<4:
  print("Not possible.")
else:
  print(new_list[2:len(new_list)-2:1])

enter the list: [1,2,3,4,5,6,7]
[3, 4, 5]

In [ ]:
#2
numbers=input("enter the list: ")
num=numbers[1:-1]
new_list=num.split(",")
for i in range (len(new_list)):
  new_list[i]=int(new_list[i])
if len(new_list)<4:
  print("Not possible.")
else:
  print(new_list[2:-2:1])

enter the list: [1,2,3,4,5,6,7]
[3, 4, 5]

In [ ]:
#3
list1=[]
for i in range(5):
  numbers = int(input("enter numbres: "))
  list1.append(numbers)
print("Printing values from the list in reverse order:")
list1.reverse()
for j in list1:
   print(j)

enter numbres: 5
enter numbres: -5
enter numbres: 100
enter numbres: 1
enter numbres: 0
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
list1=[]
for i in range (5):           #3
  num=int(input())
  list1.append(num)
for j in range (len(list1)-1,-1,-1):
  print(list1[j])

5
-5
100
1
0
0
1
100
-5
5

In [ ]:
#4
list1=[3,5,1,6]
list2=[]
for items in list1:
  items=items**2
  list2.append(items)     
print(list2)

[9, 25, 1, 36]

In [ ]:
list1=[3,5,1,6]
list2=[]
for items in list1:
  items=items**2
  list2.append(items)
print(list2)

[9, 25, 1, 36]

In [ ]:
#5
list1=['hey','there','',"what's",'','up','','?']
print("Original list:",list1)
for i in list1:
  if i=='':
    list1.remove('')
print("Modified list:",list1)

Original list: ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified list: ['hey', 'there', "what's", 'up', '?']

In [ ]:
#6
numbers=input("enter numbers separated by coma: ")
list1=numbers.split(",")
for i in range (len(list1)):
  list1[i]=int(list1[i])
print("My List:",list1)
max=list1[0]
for j in list1:
  if j>=max:
    max=j
print("Largest number in the list is",max,"which was found at index",list1.index(max))

enter numbers separated by coma: 7, 13, 2, 10, 6, -11, 0
My List: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

In [ ]:
#7
list1=[1,3,5,7,9,10]
list2=[2,4,6,8]
list3=list1[:-1:]
print(list3+list2)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#8
list1=[1,2,3,4,5,6,7,8,9]
list2=[10,11,12,-13,-14,-15,-16]
list3=[]
for i in (list1+list2):
  if i%2==0:
    list3.append(i)
print(list3)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#8
list8=[]
numbers1=input("enter numbers separated by coma: ")
numbers2=input("enter numbers separated by coma: ")
list1=numbers1.split(",")
list2=numbers2.split(",")
for i in range (len(list1)):
  list1[i]=int(list1[i])
for j in range (len(list2)):
  list2[j]=int(list2[j])
list3=list1+list2
for k in list3:
  if k%2==0:
    list8.append(k)
print(list8)

enter numbers separated by coma: 1, 2, 3, 4, 5, 6, 7, 8, 9
enter numbers separated by coma: 10, 11, 12, -13, -14, -15, -16
[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#9

In [ ]:
#10
numbers=input().split(",")
for i in range (len(numbers)):
  numbers[i]=int(numbers[i])
num=numbers
print(num)
n<0
list=[]
for i in num:
  if i != n:
    list.append(i)
    n=i
print(list)

0,0,1,2,3,4,4,5,6,6,6,7,8,9,4,4
[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [ ]:
print(59-(12)/3)

55.0

In [ ]:

#11
list1=[1,4,3,2,5]
list2=[8,7,6,9,5]
flag=True
for i in (list1):
   if i in list2:
      flag=True
      break
   else:
     flag=False
print(flag)

True

In [ ]:
#12
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while(index1<10):
  myList[index1] = index1+4
  index2 = 1
  while(index2<index1):
      myList[index1] = myList[index1] + myList[index2]-index1
      index2 = index2+1
  print(myList[index1])
  index1 = index1+1

5
9
15
25
43
77
143
273
531

In [ ]:
#13
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
index1 = 0
index2 = 0
index1 = 1
while (index1 < 10):
  myList[index1] = index1 + 4
  index2 = 1
  while (index2 < index1):
    myList[index1] = myList[index1-1] - myList[index2-1] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

5
3
-5
-12
-12
-6
-1
-3
-11

In [ ]:
#14

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while(index1<10):
  myList[index1] = index1+2
  index2 = 1
  while(index2<index1):
    myList[index1] = b[index1]+myList[index2]-index1
    index2 = index2+1
  print(myList[index1])
  index1 = index1+1

3
5
7
9
11
13
15
17
19

In [ ]:
#15

myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
index1 = 1
b = myList
while (index1 < 10):
  myList[index1] = index1 + 1
  index2 = 1
  while (index2 < index1):
    myList[index1] = b[index2-1] + myList[index2] - index1
    index2 = index2 + 1
  print(myList[index1])
  index1 = index1 + 1

2
0
-1
-5
-11
-22
-40
-70
-119

In [ ]:
#16
numbers=input("Enter numbers separated by comas: ")
list3=numbers.split(",")
for i in range (len(list3)):
  list3[i]=int(list3[i])
print("My List:",list3)
max=list3[0]
list1=list3.copy()
for j in list1:
  if j>max:
    max=j
    list1.remove(max)
print(list1)
list2=list1    
max2=list3[0]
for k in list2:
  if k>=max2:
    max2=k
print(list3)
print("Second largest number in the list is",max2,"which was found at index",list3.index(max2))

Enter numbers separated by comas: 7,13,2,10,6,-11,0
My List: [7, 13, 2, 10, 6, -11, 0]
[7, 2, 10, 6, -11, 0]
[7, 13, 2, 10, 6, -11, 0]
Second largest number in the list is 10 which was found at index 3

In [ ]:
#17
numbers=input().split(",")
for i in range (len(numbers)):
  numbers[i]=int(numbers[i])
print("My List:",numbers)
max=numbers[0]
min=numbers[0]
for j in numbers:
  if j>max:
    max=j
  if j<min:
    min=j
print("Smallest number in the list is",min,"which was found at index",numbers.index(min))
print("Largest number in the list is",max,"which was found at index",numbers.index(max))

7,13,-5,10,6
My List: [7, 13, -5, 10, 6]
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

In [ ]:
#18
list1=input().split(",")
list2=input().split(",")
list3=[]
for i in list1:
  if i in list2:
    list3.append(i)
print(list3)

1,3,A,H,P
A,G,1,P,O
['1', 'A', 'P']