In [ ]:
#1
a_tuple=("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#2
my_tuple=(-10, 20, 30, 40)
new_tuple=my_tuple[2:-2:1]
print(new_tuple)

()

In [ ]:
#2
tuple1=input("enter the tuple: ")
my_tuple=(tuple1[1:-1]).split(",")

for i in range (len(my_tuple)):
   my_tuple[i]=int(my_tuple[i])
  
print(tuple(my_tuple[2:-2:1]))

enter the tuple: (8,12,10,20,30)
(10,)

In [ ]:
#3
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291))
print("Size of the tuple is:",len(book_info))
for items in book_info:
  print(items)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
a,b,c,d=book_info
award1,name1,vote1=a
award2,name2,vote2=b
award3,name3,vote3=c
print(name1,"won the","'"+award1+"'","category with",vote1,"votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes

In [ ]:
#4x
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
for i in book_info:
  a,b,c=i
  print(b,"won the","'"+a+"'","category with",str(c),"votes.")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes.
The Institute won the 'Best Horror' category with 75717 votes.
The five won the 'Best History & Biography' category with 31783 votes.
The Testaments won the 'Best Fiction' category with 98291 votes.

In [ ]:
#5
tuple1= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
number=int(input("enter a number: "))
print(number,"appears",tuple1.count(number),"times in the tuple")

enter a number3
3 appears 0 times in the tuple

In [ ]:
tuple1= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
list1=list(tuple1)
number=int(input("enter a number: "))
count=0
for i in list1:
  if i==number:
    count+=1
print(number,"appears",count,"times in the tuple")

enter a number: 8
8 appears 4 times in the tuple

In [ ]:
#6
tuple1=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1=list(tuple1)
#print(list1)
list1.reverse()
nw_tuple=tuple(list1)
print(nw_tuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
tuple1=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1=list(tuple1)
list2=[]
for i in range (len(list1)-1,-1,-1):
  list2.append(list1[i])
print(list2)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#7
marks1={'Harry':15, 'Draco':8, 'Nevil':19}
marks2={'Ginie':18, 'Luna': 14}
marks3={}
for key,value in marks1.items():
  marks3.update({key:value})
#print(marks3)
for keys,values in marks2.items():
  marks3.update({keys:values})
print(marks3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#8
dict1={}
length=int(input("enter the len of dictionary: "))
count=0
while count<length:
  count+=1
  keys=input("enter keys: ")
  values=int(input("numbers: "))
  dict1.update({keys:values})
print(dict1)
count1=0
sum=0
for values in dict1.values():
  count1+=1
  sum=sum+values
print("Average is",int(sum/count1))

enter the len of dictionary: 3
enter keys: Jon
numbers: 100
enter keys: Dan
numbers: 200
enter keys: Rob
numbers: 300
{'Jon': 100, 'Dan': 200, 'Rob': 300}
Average is 200

In [ ]:
#8
str1=input("Enter the dict:")
user=str1[1:-1]
user_list=user.split(",")
print(user_list)
sum=0
count=0
for i in user_list:
  item=i.split(':')
  sum=sum+int(item[1])
  count+=1
print("Average is",int(sum/count))

Enter the dict:{jon:100,dan:200,rob:300}
['jon:100', 'dan:200', 'rob:300']
Average is 200

In [ ]:
u=25/2
print(int(u))

12

In [ ]:
#9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
number=int(input("Enter a number: "))
marks={}
for keys,values in exam_marks.items():
  if values>=number:
    marks.update({keys:values})
print(marks)

Enter a number: 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#10
dict1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=dict1['sci fi']
for keys,values in dict1.items():
  if values>max:
    max=values
    final_keys=keys
  else:
    max=max
print("The highest selling book genre is","'"+final_keys+"'","and the number of books sold are",str(max)+".")

The highest selling book genre is 'mystery' and the number of books sold are 15.

In [ ]:
#11
string1 =input("Enter a string: ").lower()
my_dict = {}
for i in string1:
    if i in my_dict:
        my_dict[i] += 1
    else:
        my_dict[i] = 1
if " " in my_dict:
    my_dict.pop(" ")
print(my_dict)

Enter a string: Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for values in dict_1.values():
  for i in values:
    count+=1
print(count)

9

In [ ]:
#13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
my_dict = {}
for key, value in list_1:
    if key not in my_dict:
        my_dict[key] = [value] 
    else:
        my_dict[key].append(value)
print(my_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
dict1={}
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
for i in list_1:
  if i[0] not in dict1:
    dict1[i[0]] =[]
    dict1[i[0]].append(i[1])
  else:
    dict1[i[0]].append(i[1])
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
print(9+4-(8+(-8.0)%6)/3)

9.0

In [ ]:
print(1+3-(6-(10.0)%8)*3)

-8.0